#header{
  background: #10284e;
  color: #b2c2dd;
}

#branding h1{
  color: #fff;
}

#branding img{
  margin-right: 1rem;
}

a:link,
a:visited {
  color: #10284e;
}

div.breadcrumbs {
  background: #30caa0;
  color: #10284e;
}

div.breadcrumbs a {
  color: #10284e;
  margin-bottom: 5px;
}

.module h2, .module caption, .inline-group h2 {
  background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #10284e;
  color: #fff;
}